.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Register and Login*/
.formContainer{
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer .formWrapper{
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.formWrapper form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formWrapper .logo{
  color: #5d5b8d;
  font-weight: 600;
  font-size: 24px;
}
.formWrapper .title{
  color: #5d5b8d;
  font-size: 12px;
}
.formWrapper form input{
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid #a7bcff;
  outline: none;

}

input::placeholder{
  color: rgba(175,175,175,.9);
}
.formWrapper form button{
  background-color: #7b96ec;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.formWrapper form button:active{
  background-color: #7b96ec;
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: yellow solid 4px;
  border-radius: 5px;
}
.formWrapper p{
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 10px;
}

/*Home*/
.home{
  background-color: #a7bcff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container1{
  border: 1px solid white;
  border-radius: 10px;
  width: 70%;
  height: 80%;
  display: flex;
  overflow: hidden;
  box-shadow: 2px 2px 10px 10px #5d5b8d;
}
.container1 .sidebar{
  flex: 1;
  border-right: 1px solid #3e3c61;
  background-color: #3e3c61;
  height: 100%;
}
.chat{
  flex: 2;
  height: 100%;
}
.sidebar .navbar{
  display: flex;
  align-items: center;
  background-color: #2f2d52;
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: #ddddf7;
}
.navbar logo{
  font-weight: bold;
}
.navbar .user{
  display: flex;
  gap: 10px;
}
.navbar .user img{
  background-color: #ddddf7;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar .user button{
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.sidebar .search .searchForm input{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 10px;
}
.search .searchForm input::placeholder{
  color: lightgray;
}
.sidebar .chats{
  /*margin-top: 48px;*/
  height: 100%;
  overflow: scroll;
  padding-bottom: 40px;
}
.userChat{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.userChat:hover, .userChatActive{
  background-color: #2f2d52;
}
.userChat img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.userChatInfo span{
  font-size: 18px;
  font-weight: 500;

}
.userChatInfo p{
  font-size: 14px;
  color: lightgray;
}
.chat .chatInfo{
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}
.chatInfo span{
  font-weight: 600;
}
.chatIcons{
  display: flex;
  gap: 10px;

}
.chatIcons img{
  height: 24px;
  cursor: pointer;
}

.chat .messages{
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 100px);
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.messages .message{
  display: flex;
  gap: 7px;

}
.message{
  position: relative;
}
.message .messageInfo{
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
  margin-bottom: 20px;
  align-items: flex-start;
}
.message .messageInfo img{
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.message .timeMess{
  position: static;
  top: 62px;
  left: 0;
  font-size: 10px;
  color: gray;
  margin-top: 6px;
}
.username{
  font-size: 13px;
  font-weight: 600;
  color: #2f2d52;
  margin-right: 4px;
}

.message .messageContent{
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

}

.message .messageContent img{
  width: 50%;
}
.message.owner .messageContent audio::-webkit-media-controls-panel{
  background-color: #a7bcff;
}
.message .messageContent p{
  padding: 10px 20px;
  background-color: white;
  border-radius: 0 10px 10px 10px;
  max-width: 400px;
  word-wrap: break-word;
}


.message.owner{
  flex-direction: row-reverse;
  position: relative;
}
.message.owner .messageInfo{
  align-items: flex-end;
}
.message.owner .messageContent{
  align-items: flex-end;
}
.message.owner .messageContent p{
  padding: 10px 20px;
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
  max-width: 400px;
  word-wrap: break-word;
}
.message.owner .timeMess{
  position: static;
  top: 62px;
  left: 81%;
  font-size: 10px;
  color: gray;
  margin-top: 6px;
}
.chat .input{
  height: 65px;
  background-color: white;
  padding: 0px 10px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.input input{
  width: 100%;
  border: none;
  outline: none;
  color: #2f2d52;
  font-size: 18px;
}
.input input::placeholder{
  color: lightgray;
}
.input .send{
  display: flex;
  align-items: center;
  gap: 10px;
}
.input .send img{
  height: 24px;
  cursor: pointer;
}
.send-btn{
  font-size: 20px;
  border: none;
  padding: 0px 16px;
  color: white;
  background-color: #8da4f1;
  border-radius: 5px;
  cursor: pointer;
}

/* Login
 */
.error{
  color: red;
  font-size: 14px;
}
.block{
  color: red;
  font-size: 12px;
  font-weight: bolder;
}
.create-room{
  margin-top: 10px;
  color: white;
}
.search{
  display: flex;
  border-bottom: 1px solid gray;
  /*position: fixed;*/
  /*background-color: #5d5b8d;*/
  /*height: 50px;*/
  /*top: 120px;*/
  /*width: 299px;*/
}
.btn-search{
  background-color: #5d5b8d;
  border-radius: 5px;
  border: none;
  color: #ddddf7;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.btn .btn-primary{
  background-color: #5d5b8d;
}
FiSearch{
  margin: auto;
}
input[type="checkbox"] {
  transform: scale(1.4);
  border: none;
  cursor: pointer;
}
.roomSearch{
  color: white;
  width: 30px;
  height: 20px;
  margin-bottom: 2px;
}
.userSearch{
  color: white;
  width: 15px;
  height: 20px;
  margin-bottom: 2px;
}

.chat-sender>input{
  height: 100%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  flex  :1 ;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}
.chat-sender>div:nth-of-type(1)
{
  width: 106%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.chat-sender>div{
  height: 100%;
  padding: 0px 15px 0px 0px;
}
.chat-sender .react-emoji button{
  background: white;
  padding: 6px;
}
.send{
  width: 100%;
}
.chat-sender{
  width: 100%;
}
.chat-sender .react-emoji button svg {
  fill: #c8c7c7;
}
.ReactModal__Content {
  width: 32%;
  height: 200px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.ModalWarningRoom{
  border-radius: 10px;
  margin: 300px auto 300px auto;
  height: 22%;
}
.ModalInforChat{
  border-radius: 10px 0px 10px 10px;
  margin: 100px 10px 300px 700px;
  height: auto;
  overflow: auto;
}
.ReactModal__Overlay {
  background-color: transparent;
  z-index: 1000;
}
.modal-title-warning {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #ff3333;
}
.modal-title-sucess {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #5cb85c;
}
.modal-title-infor{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 20px;
  color: #070404;
}
.containerimg{
  width: 100%;
  text-align: center;
}
.imgChatInfor{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: #2f2d52 solid 5px;
}
.nameChat{
  color: #4d4d81;
  margin-top: 10px;
}
.modal-message {
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.nameUser{
  margin-left: 30px;
}
.modal-button {
  display: block;
  height: 30px;
  width: 50px;
  margin: auto;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color:  #5d5b8d;
  color: white;
}
.Owner-modal{
  margin-left: 20px;
  font-size: 20px;
  color: #3e3c61;
  font-weight: bolder;
}
.ml-20{
  margin-left: 20px;
}
.modal-close {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #070404;
  font-weight: bold;
  text-align: center;
}

.roomName{
  font-weight: bolder;
  color: #de0a0a;
  font-size: 20px;
}
.micro-btn{
  border: none;
  background: none;
  color: #c8c7c7;
  font-size: 20px;
  margin-left: 3px;
}
.micro-btn-active{
  border: none;
  background: none;
  color: #7b96ec;
  font-size: 20px;
  margin-left: 3px;
}

.input .img_div img{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  top: -66px;
  left: 28px;
  margin-left: 12px;
  color: #0ade2e;
  font-size: 14px;
}
#submit{
  background: #8da4f1;
}
.modal-body label{
  color:  #5d5b8d;
  font-weight: 500;
}
.message .messageContent .web-review .container-title-wr{
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}
.title-wr{
  margin: 20px 20px 20px 20px;
}
.modal-title{
  color:#7b96ec;
}
video{
  max-width: 200px;
  max-height: 360px;
}
.showVideo {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  border-radius: 3px;
  top: -78px;
  left: 28px;
  margin-left: 12px;
  color: #0ade2e;
  font-size: 14px;
}
.message .messageContent .web-review{
  background-color: white;
  color: #070404;
  border-radius: 0px 10px 10px 10px;
  max-width: 280px;
  word-wrap: break-word;
}
.message .messageContent .web-review img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.message.owner .messageContent .web-review{
  background-color: #8da4f1;
  color: #070404;
  border-radius: 10px 0px 10px 10px;
  max-width: 280px;
  word-wrap: break-word;
}
.message.owner .messageContent .web-review img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.message.owner .messageContent .web-review a {
  color: white;
}
.message .messageContent .web-review a {
  color: black;
}
.listImgInfor{
  width: 80px;
  height: 80px;
  margin: 10px;
}
.listAudioInfor{
  width: 200px;
  height: 30px;
}
.cover-link{
  background-color: rgba(242, 242, 253, 0.35);
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.listURLInfor{
  margin-left: 10px;
  font-size: 12px;

}

.message.owner .messageContent button{
  padding: 10px 20px;
  background-color: #8da4f1;
  color: white;
  border-radius: 10px 0px 10px 10px;
  max-width: 400px;
  word-wrap: break-word;
  border: none;
  text-decoration: underline;
}
.message .messageContent button{
  padding: 10px 20px;
  background-color: white;
  border-radius: 0 10px 10px 10px;
  max-width: 400px;
  word-wrap: break-word;
  border: none;
  text-decoration: underline;
  display: block;
  padding: 10px;
  text-decoration: none;
}
.modal-listuser {
  margin-left: 20px;
  display: flex;
  align-items: center;
  /*border-bottom: #282c34 solid 1px;*/
}
.border-member{
  margin-top: 10px;
}
.avtUser {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.nameUser {
  font-weight: bold;
}
.member {
  margin-left: 30px;
  font-size: 12px;
  opacity: 0.5;
}
